 

body {
    height: 100%;
}

@font-face {
    font-family: primed;
    src: url('../fonts/ADAM/adam2.otf');
}
@font-face {
    font-family: primef;
    src: url('../fonts/Calendas-Plus-Regular/Desktop/Calendas_Plus.otf');
}
@font-face {
    font-family: primee;
    src: url('../fonts/intro/Intro.otf');
}
@font-face {
	font-family: prime;
	src: url('../fonts/ropa-sans/RopaSans-Regular.ttf');
}
@font-face {
	font-family: primea;
	src: url('../fonts/rd/rd2.otf');
	color: white;
}
@font-face {
	font-family: primeb;
	src: url('../fonts/san-frediano/san_frediano_regular.ttf');
	color: white;
}
@font-face {
	font-family: primec;
	src: url('../fonts/league/LeagueGothic-Regular.otf');
	color: white;
}
@media (max-width: 768px) {
	#featureddesktop {
		display: none;
	}
}
@media (min-width: 768px) {
	#featuredmobile {
		display: none;
	}
}

.featsong-slide {
	margin: 0 auto;
	text-align: center;
	margin: 0px 30px;
}
.featsong-slide .featuredsong {
  background-color: #f2f2f2;
}
.featuredsong {
	height: auto;
	padding: 20px 10px;
	border-left: 2px solid green;
}
.slick-prev:before, .slick-next:before {
    color:green;
}

ul#core-nav {
  margin: 0 auto;
  text-align: center;
}
ul#core-nav li{
  display: inline-block;
  font-family: primea;
  font-size: 80px;
}

.core-content {
	margin: 100px 100px;

	text-align: center;
}
.featuredVideo {
	margin-bottom: 100px;
}


